@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


.aboutBoombox {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

#body-header {
    color: rgb(126, 126, 190);
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-size: 100px;
}

#playlist-create {
    font-family: 'Yeseva One', cursive;
}

#Spotbtn {
    font-size: 50px;
    color: rgb(126, 126, 190);
}
#Spotbtn:hover{
    color: rgb(104, 104, 153);
    text-decoration: none;
}
li {
    display: inline;
}

#globe {
    color: rgb(126, 126, 190);
}

#globe:hover {
    color: rgb(104, 104, 153);
    text-decoration: none;
}

#btn {
    font-size: 50px;
    text-align: center;
    margin-right: 70px;
    color: rgb(126, 126, 190);
}

#margHome {
    color: rgb(126, 126, 190);
    margin-right: 30%
}

#margHome:hover {
    color: rgb(104, 104, 153);
    text-decoration: none;
}