@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



.App {
  text-align: center;
  position: relative;
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */
  /* background-color: yellow; */
    
}
li{
  display: inline;
}
h1{
  font-family: 'Yeseva One', cursive;
  color: rgb(126, 126, 190);
  text-align: center;
  font-size: 100px;
}
.iconApp{
  color: rgb(126, 126, 190);
}
.iconApp:hover{
  text-decoration: none;
  color: rgb(104, 104, 153); 
}
/* .header {
  background-color: black;
  width: 100%;
  margin: 0;
  height: 115px;
  color: white;
  
  position: relative;
  
} */
/* .navLinks {
  list-style-type: none;
  margin: 0 auto;
}
.links{
   align-self: center; 
  width: 100%;
} */
